[Unit]
Description=Rutomatrix - Certbot-Renew for Rutomatrix-Nginx

[Service]
Type=oneshot
EnvironmentFile=-/etc/conf.d/rutomatrix-certbot
ExecStart=/usr/bin/rutomatrix-certbot renew --quiet
# Should we?..
# PrivateTmp=true
