[Unit]
Description=Rutomatrix - The main daemon
After=network.target network-online.target nss-lookup.target

[Service]
User=rutomatrix
Group=rutomatrix
Type=simple
Restart=always
RestartSec=3
AmbientCapabilities=CAP_NET_RAW

ExecStart=/usr/bin/rutomatrix --run
TimeoutStopSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target
